.form {
  display: flex;
  gap: 0.5rem;
  height: 54px;
}

.form input {
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  order: 0;
  flex-grow: 1;
  color: var(--gray-100);
}

.form button {
  background-color: var(--blue-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  order: 1;
  color: var(--gray-100);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  border: none;
}

.form button:disabled {
  cursor: not-allowed;
  filter: brightness(0.6);
}

.form button:not(:disabled):hover {
  background-color: var(--blue);
}